# requirements.txt – nur pip-Pakete, ohne torch/torchaudio

# vorher:
# conda install pytorch pytorch-cuda=12.1 -c pytorch -c nvidia
# conda install torchvision torchaudio -c pytorch

# STT
faster-whisper==1.0.3

# Diarisierung (OSS)
# pyannote.audio==3.1.1
speechbrain==0.5.16

# Audio I/O + DSP
librosa==0.10.2
soundfile==0.12.1
ffmpeg-python==0.2.0
pydub==0.25.1

# Hilfsbibliotheken
tqdm==4.66.5
numpy==1.26.4          

# am ende pip install pyannote.audio==3.1.1 --no-deps
